.box {
    color: white;
    font-size: 100px;
    text-align: center;
    text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.box1 {
    background: #1abc9c;
    font-size: 30px;
}

.box2 {
    background: #3498db;
}

.box3 {
    background: #9b59b6;
    font-size: 150px;
}

.box4 {
    background: #34495e;
    font-size: 200px;
}

.box5 {
    background: #f1c40f;
    font-size: 10px;
}

.box6 {
    background: #e67e22;
}

.box7 {
    background: #e74c3c;
}

.box8 {
    background: #bdc3c7;
}

.box9 {
    background: #2ecc71;
}

.box10 {
    background: #16a085;
    font-size: 77px;
}

.container {
    display: flex;
    border: 10px solid mistyrose;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

/*justify-content aligns the elements on the main axis. From default, main axis is from left to right. */
/*In case of align-items, we are not concerned about the main axis, we're more concerned about the cross axis(top to bottom by default.)*/
/*When a height is given to the flex container, the align-items has a default value of stretch.*/
/*  align-items: stretch | flex-start | flex-end | center | baseline;*/
/*With flex-direction: column; , the cross axis is from left to right, */
/*It's on the cross axis, so it needs a height to work.*/