.box {
    color: white;
    font-size: 100px;
    text-align: center;
    text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.box1 {
    background: #1abc9c;
    /*flex: 10 5 400px; Shorthand of the three following properties. flex: flex-grow flex-shrink flex-basis; */
    flex-basis: 400px;
    flex-grow: 10;
    flex-shrink: 5; /*How much of this item must give up in proportion to the other one(s).*/
}

.box2 {
    background: #3498db;
    flex: 1 1 400px;
    /*flex-basis: 400px;
    flex-grow: 1;
    flex-shrink: 1;  */
}

.container {
    display: flex;
    border: 10px solid mistyrose;
    height: 100vh;
    align-items: flex-start;
}
/*flex-grow is how to we deal ith the extra space.*/
/*flex-shrink is how do we scale down when there is not enough space. */
/*Default flex-grow is 0 i.e. when there is extra space, don't do anything. It stays on it's ideal (or flex-basis) space.*/
/*Default flex-shrink is 1*/